In [8]:
import pandas as pd
import data_exploration as de
from dotenv import load_dotenv
import os

In [36]:
# de.filter_more_cols(df, {'merchant': ['Boxer', 'Checkers Sixty60']})
dictionary = {'merchant': ['Boxer', 'Checkers Sixty60'], 'metric': ['Market share', '% of transactions']}

In [34]:
def filter_all(df, dict:dict):
    for i, v in enumerate(dict):
        df = de.filter_more_values(df, list(dict)[i], dict.get(v))
    return df

In [3]:
dir = 'G:\My Drive\DANIELS ECOSYSTEM\extracurricularActivities\DataScience\datasets\Transactional Retail Dataset of Electronics Store'
de.create_dir(dir, 'test_file', 'csv')

'G:\\My Drive\\DANIELS ECOSYSTEM\\extracurricularActivities\\DataScience\\datasets\\Transactional Retail Dataset of Electronics Store\\test_file.csv'

In [13]:

def create_env_variables():
    load_dotenv(override=True)
    access_key_id = os.environ.get('ACCESS_KEY_ID')
    private_access_key = os.environ.get('PRIVATE_ACCESS_KEY')
    var = {'id':access_key_id,
           'key':private_access_key}
    return var

In [14]:
env_var = create_env_variables()

de.df_from_s3(file_name='transactions',
            bucket='227-data-assessment',
            data_types=None,
            access_key_id=env_var.get('id'),
            private_access_key=env_var.get('key'),
            server_region='eu-west-1')

,description,amount,transaction_date,customer_id,merchant
0,Old Khaki Claremont - Claremont,-1045.30,2021-11-01,id1414,Old Khaki
1,Bolt Services Za (Pty)Bryanstonza,-34.15,2021-11-21,id1212,Bolt
2,Nedbpl * ...,-1166.14,2021-11-25,id96,BP
3,Outstanding Card Authorisation Clicks Ran Gp Z...,-989.24,2021-11-11,id245,Clicks
4,Mtn Prepaid * Marsh,-38.45,2021-11-23,id888,MTN
...,...,...,...,...,...
1995,Engen Magalies *...,-103.45,2021-11-15,id1107,Engen
1996,Outstanding Card Authorisation Bolt Cape Town ...,-28.65,2021-11-03,id659,Bolt
1997,Nandos Waterfall Dr Midrand,-53.20,2021-11-21,id166,Nando's
1998,Uber Trip Help.Uber.Co Johannesburg,-144.30,2021-11-04,id384,Uber
1999,Cheque Card Purchase Netflix.Com Xxx *,-161.05,2021-11-16,id727,Netflix