In [5]:
import pandas as pd
import data_exploration as de

In [36]:
# de.filter_more_cols(df, {'merchant': ['Boxer', 'Checkers Sixty60']})
dictionary = {'merchant': ['Boxer', 'Checkers Sixty60'], 'metric': ['Market share', '% of transactions']}

In [34]:
def filter_all(df, dict:dict):
    for i, v in enumerate(dict):
        df = de.filter_more_values(df, list(dict)[i], dict.get(v))
    return df

,merchant,metric,bracket,segment,date,value
54006,Boxer,Market share,a:0-10k,All,2018/01/01,0.183314
54007,Boxer,Market share,a:0-10k,All,2018/02/01,0.205152
54008,Boxer,Market share,a:0-10k,All,2018/03/01,0.157603
54009,Boxer,Market share,a:0-10k,All,2018/04/01,0.091055
54010,Boxer,Market share,a:0-10k,All,2018/05/01,0.119510
...,...,...,...,...,...,...
275900,Checkers Sixty60,% of transactions,g:Equal weighted,GAUTENG,2022/06/01,5.554129
275901,Checkers Sixty60,% of transactions,g:Equal weighted,KWAZULU-NATAL,2022/06/01,5.491258
275902,Checkers Sixty60,% of transactions,g:Equal weighted,OTHER,2022/06/01,3.241990
275903,Checkers Sixty60,% of transactions,g:Equal weighted,WESTERN CAPE,2022/06/01,5.672552
275904,Checkers Sixty60,% of transactions,g:Equal weighted,location not specified,2022/06/01,4.324686